<div class="title">
    <img src="/img/fire.gif">
    <h1>Tell us a bit about yourslef comrade!</h1>
    <img src="/img/fire.gif" style="-webkit-transform: scaleX(-1);
transform: scaleX(-1);">
</div>

{{#if error}}
    <p>Please fill all fields comrade!</p>
{{/if}}

<form method="POST">
    <input id="age" type="number" name="age" placeholder="Age"></input>
    <br>
    <input id="city" type="text" value="" name="city" placeholder="City"></input>
    <br>
    <input id="homepage" type="text" value="" name="homepage" placeholder="Homepage"></input>
    <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <br>
    <button id="button">ADD TO PROFILE</button>
    <br>
    <br>
    <a id="button" href="/logout">LOG OUT</a>
</form>
