<div class="title">
    <img src="/img/fire.gif">
    <h1>Thank you comrade!</h1>
    <img src="/img/fire.gif" style="-webkit-transform: scaleX(-1);
transform: scaleX(-1);">
</div>

    <p>We are one step closer to reach our goal!</p>

    <img id="signature" src={{getSignatures}}>
    <br>
    <br>

    <form method="POST">
    <button id="button">DELETE SIGNATURE</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <br>
    <br>
    <a id="button" href="/signers">ALL COMMUNISTS</a>
    <br>
    <br>
    <a id="button" href="/edit">EDIT PROFILE</a>
    <br>
    <br>
    <a id="button" href="/logout">LOG OUT</a>

</form>

</div>
<div class="thanks">
    <img src="/img/partija.jpg">
</div>
